.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  
  .custom-card {
    max-width: 550px;
    /* max-height: 600px; */
    border-radius: 25px;
    width: 100%;
    margin-bottom: 20%;
  }

mat-form-field {
    width: 100%;
    /* Make form fields fill the width */
}

.icon-large {
    font-size: 35px;
    height: 40px;
    width: 36px;
    position: relative;
    left: 4px;
    top: 14px;
    /* margin-right: 4px; */
}

.center-button {
    display: block;
    /* margin: 0 auto; */
    width: 100%;
}
.mat-mdc-card-content:last-child {
    padding-bottom: 37px;
}