<div class="container">
  <mat-card class="custom-card">
    <!-- <mat-card-title>Change Password</mat-card-title> -->
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
       
        <p class="h3 bold login-toolbar move-right" style="color: #3f51b5; margin-bottom: 23px;"> <mat-icon class="mb-1 lock icon-large">lock_open</mat-icon> Change Your Password</p>

        <input type="hidden" formControlName="userName">

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>oldPassword</mat-label>
          <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
          <mat-error>password is required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>newPassword</mat-label>

          <input matInput type="password" placeholder="New Password" formControlName="newPassword">

        </mat-form-field>

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="confirmNewPassword"
            required placeholder="Confirm new password" [errorStateMatcher]="matcher">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="f['confirmNewPassword'].hasError('required') && (f['confirmNewPassword'].touched || f['confirmNewPassword'].dirty)">
            Please Enter Same Password
          </mat-error>
          <mat-error *ngIf="f['confirmNewPassword'].getError('Mustmatch')!null" class="errormessage">password is
            missmatched
          </mat-error>
        </mat-form-field>
        <button class="center-button" mat-raised-button color="primary" type="submit">Change Password</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>