<!-- <div class="background">
  <form [formGroup]="resetPasswordForm" class="example-form" (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="forgot-password-header-icon">
          <mat-icon>lock_open</mat-icon>
        </div>
        <mat-card-title class="resetpassword">Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email">

        </mat-form-field>
        <mat-error class="form-text text-danger"
          *ngIf="f['email'].hasError('required') && (f['email'].touched || f['email'].dirty)">
          Email is Required
        </mat-error>
        <mat-error class="form-text text-danger" *ngIf="f['email'].hasError('email') && f['email'].dirty">
          Please Enter a Valid Email
        </mat-error>

        <mat-form-field>
          <mat-label>Enter Code</mat-label>
          <input matInput formControlName="code" placeholder="Enter your Otp">

        </mat-form-field>

        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter your new password">
        </mat-form-field>
        <mat-error class="form-text text-danger"
          *ngIf="f['password'].hasError('required') && (f['password'].touched || f['password'].dirty)">
          Password is Required
        </mat-error>
        <mat-error class="form-text text-danger" *ngIf="f['password'].hasError('pattern') && f['password'].dirty">
          Password should be atleast 8 characters
        </mat-error>
        <mat-error class="form-text text-danger" *ngIf="f['password'].hasError('pattern') && f['password'].dirty">
          At least One uppercase password
        </mat-error>

        <mat-form-field>
          <mat-label>Confirm New Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm your new password">
        </mat-form-field>
        <mat-error *ngIf="f['confirmPassword'].errors" class="text-danger error1">
          <mat-error *ngIf="f['confirmPassword'].hasError('required') && (f['confirmPassword'].touched || f['confirmPassword'].dirty)">
            Please Enter Same Password
          </mat-error>
          <mat-error *ngIf="f['confirmPassword'].getError('Mustmatch')!null" class="errormessage">password is
            missmatched
          </mat-error>
        </mat-error>
        <div class="col text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset
            Password</button>
        </div>
      </mat-card-content>

    </mat-card>
  </form>
</div> -->

<!-- login.component.html -->

<div class="login-container">

  <div class="signin-content" style="background-color: #3f51b5;">
    <!-- <p class="h1 bold" style="color: white; text-align: center;">Syfrox</p> -->
    <div class="text-center">
      <img src="assets\SyfroxLogo.jpg" alt="syfrox" class="logoDefault ">
    </div>
    <mat-card style="top: 12%; border-radius: 25px;">
      <mat-card-content>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <p class="h3 bold login-toolbar" style="color: #3f51b5; margin-bottom: 23px;">Reset Your Password</p>

          <mat-form-field class="full-width-input" appearance="outline">
            <mat-label>Email</mat-label>
            <mat-icon matSuffix>email</mat-icon>
            <input matInput placeholder="Enter your email" formControlName="email" [errorStateMatcher]="matcher">
            <mat-error *ngIf="f['email'].hasError('required') && (f['email'].touched|| f['email'].dirty)">Email is
              Required
            </mat-error>
            <mat-error *ngIf="f['email'].hasError('email') && f['email'].dirty">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input" appearance="outline" numbersOnly>
            <mat-icon matSuffix>code</mat-icon>
            <mat-label>Enter Code</mat-label>
            <input matInput formControlName="code" placeholder="Enter your Otp" [errorStateMatcher]="matcher" numbersOnly>
            <mat-error *ngIf="f['code'].hasError('required') && (f['code'].touched|| f['code'].dirty)">Otp is
              Required
            </mat-error>
          </mat-form-field>
  


          <mat-form-field class="full-width-input" appearance="outline">
            <mat-icon matSuffix>password</mat-icon>

            <mat-label>New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="password" required
              placeholder="Enter your new password"  [errorStateMatcher]="matcher">
            <mat-error
              *ngIf="f['password'].hasError('required') && (f['password'].touched || f['password'].dirty)">
              Password is Required
            </mat-error>
           
          </mat-form-field>
          <div>
            <mat-error *ngIf="f['password'].hasError('pattern') && f['password'].dirty">
              Password should be atleast 8 characters
            </mat-error>
            <mat-error *ngIf="f['password'].hasError('pattern') && f['password'].dirty">
              At least One uppercase password
            </mat-error>
          </div>

          <mat-form-field class="full-width-input" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="confirmPassword" required
              placeholder="Confirm new password"  [errorStateMatcher]="matcher">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
              <mat-error *ngIf="f['confirmPassword'].hasError('required') && (f['confirmPassword'].touched || f['confirmPassword'].dirty)">
                Please Enter Same Password
              </mat-error>
              <mat-error *ngIf="f['confirmPassword'].getError('Mustmatch')!null" class="errormessage">password is
                missmatched
              </mat-error>
          </mat-form-field>

          <button mat-raised-button class="full-width" color="primary"
            [disabled]="!resetPasswordForm.valid">Login</button>
          <!-- <div><a class="h6 forgot" routerLink='/forgotpassword'>Forgot Password</a></div> -->
        </form>

      </mat-card-content>

    </mat-card>
  </div>




  <!-- Image -->
  <div class="login-image">
 
      
    <!-- Your image goes here -->
    <!-- Example: -->
    <img src="assets/bg.jpg" alt="Login Image" />

    <!-- background-image: url('src/assets/hrms.jpg'); -->
  </div>
</div>